In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model

%matplotlib inline
plt.style.use('seaborn')

DATA_DIR = "../bigdata/"

In [2]:
vl = pd.read_csv(DATA_DIR + 'vessel_locations-1-week-20180315.csv', parse_dates = ['timestamp'])
vm = pd.read_csv(DATA_DIR + 'vessel_metadatas-1-week-20180315.csv', parse_dates = ['timestamp'])

In [3]:
tvl = pd.read_csv('../testdata/vessellocations.csv', parse_dates = ['timestamp'])

In [4]:
tvl['mmsi'].unique()

array([230289000, 305463000, 230601000, 265066000, 230956000], dtype=int64)

In [5]:
vl = vl.sort_values(by=['timestamp'])
vm = vm.sort_values(by=['timestamp'])

In [6]:
vesselmetadatas = vm[(vm['mmsi'].isin(tvl['mmsi'].unique())) & (vm['timestamp'] >= '2018-03-19 00:00:00')]

In [7]:
vesselmetadatas.to_csv('../testdata/vesselmetadatas.csv', sep=',', header=True, index=False)

In [8]:
tvm = pd.read_csv('../testdata/vesselmetadatas.csv', parse_dates = ['timestamp'])

In [9]:
tvm

,timestamp,name,ship_type,callsign,imo,mmsi,destination,eta,draught,pos_type,reference_point_a,reference_point_b,reference_point_c,reference_point_d
0,2018-03-19 00:00:00.048,AURA,70,OJMS,9395276,230601000,VAASA,236928,43,1,10,92,10,9
1,2018-03-19 00:00:02.062,AURA,70,OJMS,9395276,230601000,VAASA,236928,43,1,10,92,10,9
2,2018-03-19 00:01:04.174,KIISLA,80,OJKY,9267558,230956000,FI KEM > FI KOK,234270,79,1,111,29,8,14
3,2018-03-19 00:01:06.345,KIISLA,80,OJKY,9267558,230956000,FI KEM > FI KOK,234270,79,1,111,29,8,14
4,2018-03-19 00:02:29.976,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
5,2018-03-19 00:02:32.098,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
6,2018-03-19 00:03:52.989,BBC VIRGINIA,70,V2EK8,9501277,305463000,DE HAM VIE KIEL,241024,74,1,125,13,11,10
7,2018-03-19 00:03:54.019,BBC VIRGINIA,70,V2EK8,9501277,305463000,DE HAM VIE KIEL,241024,74,1,125,13,11,10
8,2018-03-19 00:03:57.992,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
9,2018-03-19 00:04:00.775,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
10,2018-03-19 00:05:59.247,AURA,70,OJMS,9395276,230601000,VAASA,236928,43,1,10,92,10,9
11,2018-03-19 00:06:00.382,AURA,70,OJMS,9395276,230601000,VAASA,236928,43,1,10,92,10,9
12,2018-03-19 00:07:05.105,KIISLA,80,OJKY,9267558,230956000,FI KEM > FI KOK,234270,79,1,111,29,8,14
13,2018-03-19 00:07:05.726,KIISLA,80,OJKY,9267558,230956000,FI KEM > FI KOK,234270,79,1,111,29,8,14
14,2018-03-19 00:08:33.012,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
15,2018-03-19 00:08:35.223,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
16,2018-03-19 00:09:50.791,BBC VIRGINIA,70,V2EK8,9501277,305463000,DE HAM VIE KIEL,241024,74,1,125,13,11,10
17,2018-03-19 00:09:52.842,BBC VIRGINIA,70,V2EK8,9501277,305463000,DE HAM VIE KIEL,241024,74,1,125,13,11,10
18,2018-03-19 00:09:57.598,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
19,2018-03-19 00:10:00.792,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
20,2018-03-19 00:13:05.657,KIISLA,80,OJKY,9267558,230956000,FI KEM > FI KOK,234270,79,1,111,29,8,14
21,2018-03-19 00:13:07.832,KIISLA,80,OJKY,9267558,230956000,FI KEM > FI KOK,234270,79,1,111,29,8,14
22,2018-03-19 00:14:32.532,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
23,2018-03-19 00:14:35.019,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
24,2018-03-19 00:15:52.625,BBC VIRGINIA,70,V2EK8,9501277,305463000,DE HAM VIE KIEL,241024,74,1,125,13,11,10
25,2018-03-19 00:15:53.634,BBC VIRGINIA,70,V2EK8,9501277,305463000,DE HAM VIE KIEL,241024,74,1,125,13,11,10
26,2018-03-19 00:16:00.254,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
27,2018-03-19 00:16:01.140,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
28,2018-03-19 00:17:59.868,AURA,70,OJMS,9395276,230601000,VAASA,236928,43,1,10,92,10,9
29,2018-03-19 00:18:00.816,AURA,70,OJMS,9395276,230601000,VAASA,236928,43,1,10,92,10,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5541,2018-03-21 23:33:21.346,KIISLA,80,OJKY,9267558,230956000,FI SKV>FI KEM,246016,88,1,111,29,8,14
5542,2018-03-21 23:35:37.157,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
5543,2018-03-21 23:35:37.666,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
5544,2018-03-21 23:38:02.574,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
5545,2018-03-21 23:38:02.904,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
5546,2018-03-21 23:39:20.436,KIISLA,80,OJKY,9267558,230956000,FI SKV>FI KEM,246016,88,1,111,29,8,14
5547,2018-03-21 23:39:20.855,KIISLA,80,OJKY,9267558,230956000,FI SKV>FI KEM,246016,88,1,111,29,8,14
5548,2018-03-21 23:40:47.605,AURA,70,OJMS,9395276,230601000,NAANTALI,242944,39,1,10,92,10,9
5549,2018-03-21 23:40:48.283,AURA,70,OJMS,9395276,230601000,NAANTALI,242944,39,1,10,92,10,9
5550,2018-03-21 23:41:37.511,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
5551,2018-03-21 23:41:38.452,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
5552,2018-03-21 23:44:05.097,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
5553,2018-03-21 23:44:05.844,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
5554,2018-03-21 23:45:20.072,KIISLA,80,OJKY,9267558,230956000,FI SKV>FI KEM,246016,88,1,111,29,8,14
5555,2018-03-21 23:45:20.620,KIISLA,80,OJKY,9267558,230956000,FI SKV>FI KEM,246016,88,1,111,29,8,14
5556,2018-03-21 23:47:38.528,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
5557,2018-03-21 23:47:39.832,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
5558,2018-03-21 23:50:04.443,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
5559,2018-03-21 23:50:06.622,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
5560,2018-03-21 23:51:19.233,KIISLA,80,OJKY,9267558,230956000,FI SKV>FI KEM,246016,88,1,111,29,8,14
5561,2018-03-21 23:51:21.898,KIISLA,80,OJKY,9267558,230956000,FI SKV>FI KEM,246016,88,1,111,29,8,14
5562,2018-03-21 23:52:47.317,AURA,70,OJMS,9395276,230601000,NAANTALI,242944,39,1,10,92,10,9
5563,2018-03-21 23:52:48.244,AURA,70,OJMS,9395276,230601000,NAANTALI,242944,39,1,10,92,10,9
5564,2018-03-21 23:53:36.290,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
5565,2018-03-21 23:53:37.182,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11
5566,2018-03-21 23:56:03.839,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
5567,2018-03-21 23:56:04.644,SISU,90,OHMW,7359656,230289000,VHF 13 ICEBREAKING,76352,80,1,35,70,12,12
5568,2018-03-21 23:57:21.538,KIISLA,80,OJKY,9267558,230956000,FI SKV>FI KEM,246016,88,1,111,29,8,14
5569,2018-03-21 23:57:22.226,KIISLA,80,OJKY,9267558,230956000,FI SKV>FI KEM,246016,88,1,111,29,8,14
5570,2018-03-21 23:59:36.364,YMER,90,SDIA,7505346,265066000,ICEBREAKER CH69,704960,80,1,44,65,13,11

In [10]:
vl = pd.DataFrame(data = {'timestamp': pd.to_datetime(['2013-01-01 00:00:00.100', '2013-01-01 00:00:01.101', '2013-01-01 00:00:02.102', '2013-01-01 00:00:03.103', '2013-01-01 00:00:04.104']),
                          'mmsi': [123, 123, 123, 123, 123]})

vm = pd.DataFrame(data = {'timestamp': pd.to_datetime(['2013-01-01 00:00:00.123', '2013-01-01 00:00:01.123', '2013-01-01 00:00:03.123']),
                  'mmsi': [123, 123, 123],
                  'display_name': ['name1', 'name2', 'name3']})

In [23]:
vl

   mmsi               timestamp
0   123 2013-01-01 00:00:00.100
1   123 2013-01-01 00:00:01.101
2   123 2013-01-01 00:00:02.102
3   123 2013-01-01 00:00:03.103
4   123 2013-01-01 00:00:04.104

In [24]:
vm

  display_name  mmsi               timestamp
0        name1   123 2013-01-01 00:00:00.123
1        name2   123 2013-01-01 00:00:01.123
2        name3   123 2013-01-01 00:00:03.123

In [15]:
vl_index = 0
vm_index = 0
df = pd.DataFrame([[vl.iloc[vl_index].timestamp,
                    vl.iloc[vl_index].mmsi,
                    vm.iloc[vm_index].name]],
                    columns = colnames)
df

vl_index += 1
vm_index += 1

df.loc[len(df) + 1] = {'timestamp': vl.iloc[vl_index].timestamp, 'mmsi': vl.iloc[vl_index].mmsi, 'name': vm.iloc[vm_index].name}
df.reset_index()

   index               timestamp  mmsi  display_name
0      0 2013-01-01 00:00:00.100   123           0.0
1      2 2013-01-01 00:00:01.101   123           NaN

In [16]:
vl_index = 0
vm_index = 0

df = pd.DataFrame([[vl.iloc[vl_index].timestamp,
                    vl.iloc[vl_index].mmsi,
                    vm.iloc[vm_index].name]],
                  columns = colnames)
df

                timestamp  mmsi  display_name
0 2013-01-01 00:00:00.100   123             0

In [17]:
result = pd.DataFrame(columns = ['timestamp', 'mmsi', 'name'])
result

Empty DataFrame
Columns: [timestamp, mmsi, name]
Index: []

In [18]:
pd.concat([vm.iloc[vm_index], vl.iloc[vl_index]], axis=0).to_frame()

                                       0
display_name                       name1
mmsi                                 123
timestamp     2013-01-01 00:00:00.123000
mmsi                                 123
timestamp     2013-01-01 00:00:00.100000

In [19]:
s1 = vl.iloc[vl_index]
s2 = vm.iloc[vm_index]

In [20]:
s1.to_frame()

                                    0
mmsi                              123
timestamp  2013-01-01 00:00:00.100000

In [21]:
s1 = pd.Series([1, 2, 3], index=['A', 'B', 'C'], name='s1')
s1.to_frame()

   s1
A   1
B   2
C   3

In [37]:
vm.display_name.isin(['name1']).all()

False